/*폰트*/
* {
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* 모바일 레이아웃 */
@media (max-width: 768px) {
    .container {
        width: 50%;
    }

    #showcase {
        text-align: center;
    }

    .study_img {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        /* 요소들을 가운데 정렬 */
    }

    .study_img .link {
        margin-bottom: 20px;
        text-align: center;
        /* 텍스트를 중앙 정렬 */
        overflow-x: auto;
    }

    .img_box {
        width: 100%;
        height: 100%;
    }

    footer {
        width: 100%;
    }
}

h2 {
    border: solid 2px;
}

p {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    background-color: #c3dafd45;
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto;
}

.container .study li a {
    font-size: 20px;
    text-decoration: none;
    background-color: #88a6c9;
    /* 배경색 추가 */
    border-radius: 10px;
    /* 둥근 테두리를 위해 border-radius 추가 */
    transition: background-color 2s, color;
}

ul {
    margin: 0;
    padding: 0;
    /*기본값 초기화*/
}

.box_ul,
.box_ol {
    display: flexbox;
    text-align: left;
    font-size: 20px;
}

p {}

/* team */
.team_img {
    display: flex;
    gap: 120px;
}

.team_img img {
    width: 200px;
    transition: transform 0.3s ease;
    /* transform 속성에 대한 트랜지션 적용 */
}

.team_img img:hover {
    transform: scale(1.2);
    /* 호버 시 이미지 크기 확대 */
}

.link:hover {
    display: grid;
    color: #e1afa0;
}



/*study*/

.study_img {
    display: flex;
    gap: 120px;
}

.study_img a {
    width: 200px;
}

.study_img img {
    width: 200px;
}


/* Header  */
header {
    background-color: #9eceec;
    background: linear-gradient(45deg, #F8F6E3, #7AA2E3);
    color: rgb(0, 0, 0);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #645f34 3px solid;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}

header li {
    display: flex;
    padding: 5px 0;
}

header #branding {
    float: none;
}

header #branding h1 {
    margin: 0;
    font-size: 50px;
}

header nav {
    float: none;
    text-align: center;
    margin-top: 10px;
}


header .highlight,
header .current a {
    color: #000000;
    font-weight: bold;
}

/* a */

a:hover {
    font-weight: bold;
}

a:active {
    font-weight: bold;
    color: rgb(215, 53, 53);
}


/*table*/

table {
    font-size: 10px;
    border-collapse: collapse;
    margin-left: 50px;
}

th,
td {
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
    background-color: rgb(117, 101, 55);
}

th {
    background-color: rgb(178, 155, 127);
}

/* Showcase */
#showcase {
    min-height: 80vh;
    height: 100%;
    text-align: center;
    color: rgb(4, 4, 4);
}

#showcase h1 {
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 20px;
}

.button_1:hover {
    font-weight: bold;
}

.button_1:active {
    font-weight: bold;
    color: rgb(34, 122, 42);
}

/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img {
    width: 100px;
}

/*secon2024*/

.secon2024 {
    width: 90%;
    /* 전체 너비의 90%로 변경 */
    margin: 20px auto;
    /* 가운데 정렬 및 위아래 여백 추가 */
}

/* Footer */
footer {
    color: rgb(3, 3, 3);
    background-size: cover;
    background-color: #cacfd8;
    text-align: center;
    width: 100%;
    margin-top: 5vh;
    min-height: 5vh;
}

.ms {
    text-align: right;
}

.ms a {
    display: inline-block;
    margin-left: 1px;
    /* width: 50px; */
}


header {
    padding-bottom: 20px;
}

#submit:hover {
    color: #135d96;
}